@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(187, 100, 187);
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  margin: 2rem;
  gap: 5%;
  border: 1px solid black;
}

.item {
  width: 30%;
  justify-self: center;
  padding: 2rem;
}

.item h2 {
  margin-bottom: 1rem;
}
